footer {
  background: #3c4443;
  color: white;
  padding-top: 2rem;
  padding-left: 2rem;
  box-sizing: border-box;
}

.footer-text{
  font-size: 1rem;
  box-sizing: border-box;
  letter-spacing: .1rem;
  line-height: 2rem;

  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.section-row{
  width: 100%;
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.footer-item{
  width: 33.33%;
}

.footer-text-small {
  font-size: .8rem;
}

.footer-text-small-container{
  text-align:center;
}


.footer-text-link:visited, .footer-text-link:hover, .footer-text-link:link{
  color: #ffffff;
  text-decoration: none;
}


@media (max-width:500px){

  .footer-text-small {
    font-size: .6rem;
  }

}
