body{
  overflow-x: hidden;
  padding-right: 1rem;
  width: 100%;
  height: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
}
*, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
/*grid structure of the drop down menue*/

.banner-box{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap: wrap;

  -webkit-justify-content:space-between;
  -ms-justify-content:space-between;
  justify-content:space-between;
  z-index: -10;
}

/*.banner-box{
  margin-top: -10rem;
}*/
.middle-grid-photo{
  width: 100%;
}

.navigation-bar{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;

  position: relative;
  width: 100%;

  margin-bottom: 8rem;
}



[class*='col-'] {
        float: left;
        text-align: center;

}

/* Add a black background color to the top navigation */
.topnav{
  position: absolute;
  left: 2rem;
  top:1rem;
  overflow: hidden;
  width:90%;
}
/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    color:#606060;
    /*font-size:1.3vw;*/
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    /*text-align: center;*/
    /*padding: 1rem 3rem 0.2rem 3rem;*/
    text-decoration: none;
    font-size: 17px;
    width:14%;
}

.topnav a:not(:first-child) {
  text-align: center;
}
.topnav a:first-child {
  text-align: left;
}
/* Change the color of links on hover */
.topnav a:not(:first-child):hover, .topnav a:not(:first-child):focus, .topnav a:not(:first-child):active {
    border-bottom:1px solid #ddd;
    padding-bottom: 1.1rem;
    color: #96b59c;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.shopping-icon{
  position: absolute;
  right:2rem;
  top:0rem;
}

.container-home{
  margin-top: 5rem;
}



.banner-photo-homepage{
  height:auto;
  width: 100%;
}



.campaign-coverphoto, .fw-coverphoto, .ss-coverphoto, .leather-coverphoto, .product-image{
  width: 100%;
}


.middle-grid{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;

  margin-top: 5rem;
}



.middle-grid-right-box{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
}

.middle-grid-right-bottom-box{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.selected-items-box{
  margin-top: 5rem;
}

.middle-grid-photo{
  width: 100%;
  height: auto;

}


/*product*/
.product-explanation{
  position: absolute;
  width: 100%;
  color: #333333;
  font-size: .6rem;
  letter-spacing: .1rem;
  font-weight: bold;
  font-family: inherit;
}

.products-box{
  margin-top: 6rem;
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.product-box{
  margin-bottom: 8rem;
  /*width:calc(25% - 1rem);*/
}

.product-box:hover, .product-box:focus, .product-box:active{
  background: white;
  opacity: 0.8;
}

.logo-title{
  text-align: center;
  font-size: 3vw;
  color: #3e5f64;
}
.ss-big-title{
  position: absolute;
  margin-top: -3rem;
  margin-left: 4rem;
  z-index: 2;
  font-size: 6vw;
  color: #3e5f64;
  letter-spacing: .1rem;
}

.medium-title{
  font-size: 3vw;
  color: #3e5f64;
  letter-spacing: .1rem;
  text-align: center;
}

.title{
  font-size: 3vw;
  color: #3e5f64;
  letter-spacing: .1rem;
  margin-left: 2rem;
}

.shopping-title{
  /*position: absolute;*/
  margin-top: 8rem;
  margin-left: 4rem;
  z-index: 2;
  font-size: 6vw;
  color: #3e5f64;
  letter-spacing: .1rem;
}


.text-next-to-banner{
  line-height: 1.6rem;
  padding-left:2rem;
  padding-top: 4rem;
  color: #3e5f64;
}

.paragraph{
  width:40%;
  line-height: 1.6rem;
  color: #3e5f64;
  margin-left: 2rem;
}


.home a.current-home{
color: #96b59c;
}

.summer a.current-summer{
color: #96b59c;
}

.winter a.current-winter{
color: #96b59c;
}

.leather a.current-leather{
color: #96b59c;
}

.campaign a.current-campaign{
color: #96b59c;
}

.contact-us-container{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;

  margin-top:2rem;
}

/*contact us*/

.phone-contact{
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}
.email-contact{
  padding-top: 4rem;
  width: 50%;
}

.contactus-coverphoto{
  width: 100%;
  height: auto;
}

/*contact us*/


/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email],input[type=number],select,textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: .2rem; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: darkgray;
    color:black;
    font-weight: bold;
}

#subject{
  height: 10rem;
}
/* Add a background color and some padding around the form */
.form-container, .contact-us-container{
    border-radius: .2rem;
    background-color: #f2f2f2;
    padding-top: 2rem;
    color:gray;
    padding-bottom: 2rem;
}

.call-number{
  padding-top: 0.5rem;
}

.contact-subtitle{
  font-weight: bolder;
}

#submit-btn{
  width: 40%;
}

#bag{
  background-color: white;
}

/*/css for model*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 4rem;
    border: .08rem solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    position: relative;

}

/* The Close Button */
.close-icon {
    color: #aaa;
    position: absolute;
    right:1rem;
    top: 0.5rem;
    font-size: 28px;
    font-weight: bold;
}

.close-icon:hover,
.close-icon:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-icon-background{
  width: 100%;
  background-color: #000;
  height: 3rem;
  position: absolute;
  top: 0;
  left:0;
}

.modal-content{
  text-align: center;
}
.model-text, #modal-message{
  padding-top: 1rem;
}


/*product-detail-page*/
.product-detail-box{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around
  -ms-justify-content: space-between;
  justify-content: space-between;

}

.product-detail-description-box{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

}

.product-detail-photo{
  width: 100%;
}

.product-detail-photo-container{
  align-self:flex-start;
}

.product-detail-description-middle{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 0rem 3rem;
  position: relative;
}

.product-detail-description-bottom, .product-detail-description-top{
  display: none;
}

.product-detail-description-middle a{
  display: block;
  text-decoration: none;
  color: #606060;
}

.product-detail-description-middle a:hover{
  color: #96b59c;
}

.about-product{
  line-height: 2rem;
}
.pricing{
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.sizing{
  width: 100%;
  margin-bottom:3rem;
}

select:hover {
    background-color:#F8F8F8;
}

select:focus > option:checked{
    background: #000 !important;
}
.add-to-bag-botton{
  color:white !important;
  background-color: black;
  padding: 0.9rem 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.unit-number{
  width: 15%;
  height: auto;
  text-align: center;
  margin-bottom: 2rem;

}

.unit-number-input{
  text-align: center;
}

.product-detail-box{
  margin-bottom: 5rem;
}
.add-to-bag-botton:hover, .add-to-bag-botton:focus, .add-to-bag-botton:active{
  background: gray;
}

.samll-discription{

  padding-left: 2rem;
  margin-left: 8rem;
  text-align: left;
}
.samll-discription-text{
  padding-bottom: 1rem;
}
.samll-discription-text:last-child{
  margin-top: 2rem;
}
#remove:hover{
  background-color: gray;
}
#remove{
    background: black;
    padding: 0.4rem 1rem;
    text-align: center;
    color:white;
    text-decoration: none;
}
.modal-shopping-result{
  text-align: left;
  position: relative;
  padding-top: 2rem;
}

#view-shopping-bag-span{
  position: absolute;
  left: 0;
}
#subtotal{
  position: absolute;
  right:1.5rem;
}
.white-shopping-icon{
  width: 3rem;
  height: auto;
}

.add-to-bag-botton-modified{
  color:white !important;
  background-color: black;
  padding: 0rem 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.add-to-bag-botton-modified:hover{
  background-color: gray;
}
/*
modal for detail product-image
*/

.model-shopping-context,.modal-shopping-info-container{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-shopping-summery{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.shopping-detail-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.shopping-detail-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 4rem;
    border: .08rem solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    position: relative;
  }

/* The Close Button */
.close-icon {
    color: #aaa;
    position: absolute;
    right:1rem;
    top: 0.5rem;
    font-size: 28px;
    font-weight: bold;
}

.close-icon:hover,
.close-icon:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-icon-background{
  width: 100%;
  background-color: #000;
  height: 3rem;
  position: absolute;
  top: 0;
  left:0;
}

.model-shopping-context{
  text-align: center;
}
#title-modal-message, #modal-shopping-info-container{
  padding-top: 3rem;

}

.close-icon-background{
  text-align: center;
  padding-top: 1rem;
    color:white;
}

#Secure-Checkout{
  margin-top: 2rem;
  background-color: black;
  color:white;
  padding: 0.6rem 1rem;
  width: 100%;
}
#Secure-Checkout-text{
  color:white;
  text-decoration: none;
}
#Secure-Checkout:hover, #Secure-Checkout:focus, #Secure-Checkout:active{
  background-color: gray;
}

/*shopping detail*/
.quantity-text-input{
  margin-left: 1rem;
  width: 15% !important;
  height: auto;
  background:#F8F8F8;
}


.secure-checkout-containter{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;

  position: relative;


}
.shipping-form{
  margin-left: 2rem;
}

.shipping-title{
  font-size: 2rem;
}

.payment-radio{
  margin-left: 2rem;
}
.card-info{
  margin-top: 6rem;
}
#card-number{
  width: 50% !important;
}
#expiray{
  width:15% !important;
}
.checkout-button{
  padding-top: 8rem;
  width: 100% !important;
}

#Secure-checkout{
  text-align: center;
  margin-bottom: 5rem;
  font-weight: bolder;
  padding-bottom: 2rem;
  border-bottom: 1px solid #f8f8f8;
  font-size: 3rem;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 668px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 668px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: left;
    display: block;
  }


  /*.topnav.responsive {position: relative;}*/
  .topnav.responsive a.icon {
    position: relative;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive a:not(:first-child) {
    padding-top:1rem;
  }

  .topnav.responsive a:not(:first-child):hover, .topnav.responsive a:not(:first-child):focus, .topnav.responsive a:not(:first-child):active {

  }
}




@media (min-width:668px) {

  .text-next-to-banner{
    width:33.33%;
  }

    .col-1of6 {
      width: 16.667%;
    }


    .banner-photo-container{
      width: 66.33%;
      /*z-index: -1;*/
    }

    .middle-grid-left-box{
      width: 33.33333%;
    }
    .middle-grid-right-box{
      width: 66.33333%;

    }
    .middle-grid-right-bottom-left-box,.middle-grid-right-bottom-right-box{
      width: 50%;
    }


    .middle-grid-left-photo{
      padding-right: 1rem;
    }
    .middle-grid-right-box{
    }

    .middle-grid-right-bottom-box{
      padding-top: 1rem;
    }
    .middle-grid-right-bottom-left-box{
      padding-right: 0.5rem;
    }
    .middle-grid-right-bottom-right-box{
      padding-left: 0.5rem;
    }

    .product-box{
      /*margin-bottom: 8rem;*/
      width:calc(25% - 1rem);
    }


    /*detail page*/
    .product-detail-photo-container{
      width: calc(40% - 0.2rem);
      background-color: green;
    }
    .product-detail-description-middle{
      width: calc(40% - 0.2rem);
    }
    .product-detail-description-top, .product-detail-description-bottom{
      height: 20%;
    }

    .footprint{
      width: 50%;
      font-size: 0.7rem;
    }

    .product-detail-description-box{
      width: 40%;

    }

    .title-discription{
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: left;
    }

    .shipping-form{
      width: 40%;
    }
    .billing-payment{
      width: 40%;
    }

    .billing-payment{
      position: absolute;
      right:2rem;
    }
    .shipping-form{
      position: absolute;
      left:2rem;
    }
}
